Host vps
	IdentityFile ~/.ssh/id_rsa_ns329449
	ProxyCommand /opt/jdk1.8.0_181/bin/java -Xmx64m -cp /opt/proxy org.antiloop.ssl.SSLTunnel -p 10.43.216.8:8080 - ns329449.ip-37-187-116.eu:443
	LocalForward 0.0.0.0:3128 127.0.0.1:3128

Host pve1
  User root
  IdentityFile ~/.ssh/id_rsa_pve1

Host controller
  User ubuntu
  Hostname 10.10.10.2
  ProxyCommand ssh -W %h:%p pve1
  IdentityFile ~/.ssh/id_rsa_vms

Host kube-server-01
  User ubuntu
  Hostname 10.10.10.11
  ProxyCommand ssh -W %h:%p pve1
  IdentityFile ~/.ssh/id_rsa_vms

Host kube-agent-01
  User ubuntu
  Hostname 10.10.10.21
  ProxyCommand ssh -W %h:%p pve1
  IdentityFile ~/.ssh/id_rsa_vms

Host kube-agent-02
  User ubuntu
  Hostname 10.10.10.22
  ProxyCommand ssh -W %h:%p pve1
  IdentityFile ~/.ssh/id_rsa_vms

